.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    * {
        box-sizing: inherit;
    }

    &.gutter {
        & > [class*=col] {
            padding: 15px;
        }
    }

    /* item/s to top */
    &.align-top {
        align-items: flex-start;
    }

    & > .align-top {
        align-self: flex-start;
    }

    /* item/s to middle */
    &.align-center {
        align-items: center;
    }

    & > .align-center {
        align-self: center;
    }

    /* item/s to bottom */
    &.align-bottom {
        align-items: flex-end;
    }

    & > .align-bottom {
        align-self: flex-end;
    }
}

@include grid('', $columns);

@each $name, $value in $breakpoints {
    @media all and (min-width: #{$value}) {
        @include grid($name, $columns);
    }
}