.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    * {
        box-sizing: inherit;
    }

    &.gutter {
        & > [class*=col] {
            padding: 15px;
        }
    }

    @each $align-name, $align-value in $aligns {
        &.align-#{$align-name} {
            align-items: #{$align-value};
        }
    }
}

@include grid('', $columns);

@each $name, $value in $breakpoints {
    @media all and (min-width: #{$value}) {
        @include grid($name, $columns);
    }
}