@mixin grid($name, $columns) {
    $prefix: '';
    
    @if $name != '' {
        $prefix: #{$name}-;
    }
            
    @for $i from 1 through $columns {

        [class*=col-#{$prefix}#{$i}] {
            flex-basis: 100% / 12 * $i; 
        }
    }

    .row {
        @each $align-name, $align-value in $aligns {
            & > .#{$prefix}align-#{$align-name} {
                align-self: #{$align-value};
            }
        }
    }
}